/2Collections/.vs/2Collections/v15/.suo
/3Swap/.vs/3Swap/v15/.suo
/5IndexerSimple/.vs/IndexerSimple/v15/.suo
/2Collections/2Collections/bin
/2Collections/2Collections/obj
/3Swap/3Swap/bin
/3Swap/3Swap/obj
/5IndexerSimple/IndexerSimple/bin
/5IndexerSimple/IndexerSimple/obj
/2Collections/.vs/2Collections/v15/Server/sqlite3/db.lock
/2Collections/.vs/2Collections/v15/Server/sqlite3/storage.ide
/2Collections/.vs/2Collections/v15/Server/sqlite3/storage.ide-shm
/2Collections/.vs/2Collections/v15/Server/sqlite3/storage.ide-wal
/3Swap/.vs/3Swap/v15/Server/sqlite3/db.lock
/3Swap/.vs/3Swap/v15/Server/sqlite3/storage.ide
/3Swap/.vs/3Swap/v15/Server/sqlite3/storage.ide-shm
/3Swap/.vs/3Swap/v15/Server/sqlite3/storage.ide-wal
/5IndexerSimple/.vs/IndexerSimple/v15/Server/sqlite3/db.lock
/5IndexerSimple/.vs/IndexerSimple/v15/Server/sqlite3/storage.ide
/5IndexerSimple/.vs/IndexerSimple/v15/Server/sqlite3/storage.ide-shm
/5IndexerSimple/.vs/IndexerSimple/v15/Server/sqlite3/storage.ide-wal
/6IndexerBitArray/.vs/IndexerBitArray/v15/.suo
/6IndexerBitArray/IndexerBitArray/obj
/6IndexerBitArray/IndexerBitArray/bin
/6IndexerBitArray/.vs/IndexerBitArray/v15/Server/sqlite3/db.lock
/6IndexerBitArray/.vs/IndexerBitArray/v15/Server/sqlite3/storage.ide
/6IndexerBitArray/.vs/IndexerBitArray/v15/Server/sqlite3/storage.ide-shm
/6IndexerBitArray/.vs/IndexerBitArray/v15/Server/sqlite3/storage.ide-wal
/8FastPower/.vs/8FastPower/v15/.suo
/8FastPower/.vs/8FastPower/v15/Server/sqlite3/db.lock
/8FastPower/.vs/8FastPower/v15/Server/sqlite3/storage.ide
/8FastPower/.vs/8FastPower/v15/Server/sqlite3/storage.ide-shm
/8FastPower/.vs/8FastPower/v15/Server/sqlite3/storage.ide-wal
/8FastPower/8FastPower/obj/Debug/8FastPower.csproj.CoreCompileInputs.cache
/8FastPower/8FastPower/obj/Debug/8FastPower.csprojAssemblyReference.cache
/8FastPower/8FastPower/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/8FastPower/8FastPower/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/8FastPower/8FastPower/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
