/2Collections/.vs/2Collections/v15/.suo
/3Swap/.vs/3Swap/v15/.suo
/5IndexerSimple/.vs/IndexerSimple/v15/.suo
/2Collections/2Collections/bin
/2Collections/2Collections/obj
/3Swap/3Swap/bin
/3Swap/3Swap/obj
/5IndexerSimple/IndexerSimple/bin
/5IndexerSimple/IndexerSimple/obj
/2Collections/.vs/2Collections/v15/Server/sqlite3/db.lock
/2Collections/.vs/2Collections/v15/Server/sqlite3/storage.ide
/2Collections/.vs/2Collections/v15/Server/sqlite3/storage.ide-shm
/2Collections/.vs/2Collections/v15/Server/sqlite3/storage.ide-wal
/3Swap/.vs/3Swap/v15/Server/sqlite3/db.lock
/3Swap/.vs/3Swap/v15/Server/sqlite3/storage.ide
/3Swap/.vs/3Swap/v15/Server/sqlite3/storage.ide-shm
/3Swap/.vs/3Swap/v15/Server/sqlite3/storage.ide-wal
/5IndexerSimple/.vs/IndexerSimple/v15/Server/sqlite3/db.lock
/5IndexerSimple/.vs/IndexerSimple/v15/Server/sqlite3/storage.ide
/5IndexerSimple/.vs/IndexerSimple/v15/Server/sqlite3/storage.ide-shm
/5IndexerSimple/.vs/IndexerSimple/v15/Server/sqlite3/storage.ide-wal
/6IndexerBitArray/.vs/IndexerBitArray/v15/.suo
/6IndexerBitArray/IndexerBitArray/obj
/6IndexerBitArray/IndexerBitArray/bin
/6IndexerBitArray/.vs/IndexerBitArray/v15/Server/sqlite3/db.lock
/6IndexerBitArray/.vs/IndexerBitArray/v15/Server/sqlite3/storage.ide
/6IndexerBitArray/.vs/IndexerBitArray/v15/Server/sqlite3/storage.ide-shm
/6IndexerBitArray/.vs/IndexerBitArray/v15/Server/sqlite3/storage.ide-wal
